@import "index.scss";

.wedding {
  height: 100%;
  width: 100%;
  background-color: #F6FCFF;
  padding: 60px 20px 0;
  text-align: center;
  box-sizing: border-box;
  &--title {
    color: #33424E;
    font-size: 2.8rem;
    font-family: $nunito;
    letter-spacing: 4px;
  }
  &--icon {
    margin: 20px 0;
    color: #BDB7B1;
    font-size: 2rem !important;
  }
  &--content {
    font-family: 'Raleway', sans-serif;
    color: #BDB7B1;
    letter-spacing: 1.5px;
    line-height: 3.2rem;
  }
  &--button {
    background-color: rgba(51,66,78,1);
    font-family: 'Raleway', sans-serif;
    padding: 10px 30px;
    font-size: 1.8rem;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
}

.wedding--content_when, .wedding--content_where {
  margin: 20px 40px;
  .title {
    font-size: 2rem;
    color: #41627A;
    margin-bottom: 20px;
  }
  .content {
    font-size: 1.6rem;
  }
}

