@import "index.scss";

.home {
  font-family: $nunito;
  text-align: center;
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 4;

  &-button {
    background-color: rgba(51,66,78,1);
    line-height: 1.5;
    padding: 10px 30px;
    font-size: 18px;
    color: white;
    min-width: 152px;
    min-height: 44px;
    border: none;
    margin-top: 52px;
    font-weight: bolder;
    cursor: pointer;
  }
  &-button:hover {
    background-color: rgba(54,70,120,1);
  }
}

.home-content {
  color: white;
  margin: 30vh auto auto;
  width: 70%;


  &--title {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 50px;
  }
  &--subtitle {
    font-size: 2.5rem;
  }
}

.home-menu--button {
  font-weight: lighter;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2.5rem !important;
  transition: transform .6s ease-in-out;
}
.home-menu--button.fa-times {
  transform:rotate(-180deg);
}
