@import "index.scss";

.home-sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform .6s ease-in-out;
  left: -100%;
  box-sizing: border-box;
  &-content {
    width: 50%;
    padding-top: 120px;
    font-size: 1.6rem;
    background-color: #33424E;
    > * {
      display: block;
      text-align: left;
      padding: 15px 20px;
      color: #FFFFFF;
      font-family: $raleway;
    }
  }
  .blank-space {
    width: 50%;
    opacity: 0;
  }
}

.home-sidebar.show {
  transform: translateX(100%);
}

